In [49]:
import pandas as pd
import requests
import json
from pandas import json_normalize

In [26]:
immo = pd.read_csv('../immo_uni.csv')

In [27]:
immo

,Unnamed: 0,id,rent,street_number,lat,lng,duration,duration_seconds,distance_meters
0,0,108761792,1745,Berneggstrasse 28,47.420898,9.376225,0:04:20.500000,260.5,2022.6
1,1,2147994348,1720,Heiligkreuzstrasse 53,47.440407,9.393985,0:04:05.900000,245.9,2379.7
2,2,3000166218,1150,Lindenstrasse 76,47.433056,9.393829,0:04:09.600000,249.6,1870.4
3,3,3000251780,1390,Feldlistrasse 11,47.421700,9.356135,0:04:03.500000,243.5,2260.3
4,4,3000402506,2130,Goliathgasse 37,47.427975,9.377123,0:02:56.700000,176.7,1433.4
...,...,...,...,...,...,...,...,...,...
480,544,3001465599,1240,Moosbruggstrasse 5,47.423676,9.379521,0:03:21.600000,201.6,1823.4
481,545,3001467270,890,Burgstrasse 80,47.417019,9.356454,0:04:30.300000,270.3,2502.4
482,546,3001468434,1660,Falkensteinstrasse 72,47.431427,9.398845,0:05:26.100000,326.1,2493.9
483,547,3001470695,1340,Höhenweg 13,47.429504,9.372371,0:01:47.300000,107.3,716.9
484,548,3001470708,1835,Linsebühlstrasse 99,47.425991,9.385356,0:04:11.900000,251.9,2197.3

In [6]:
sm = pd.read_csv('../supermarkets.csv')

In [16]:
b = sm[sm.duration < 200].id.tolist()

In [23]:
immo

             id        lat       lng
0     108761792  47.420898  9.376225
1    2147994348  47.440407  9.393985
2    3000166218  47.433056  9.393829
3    3000251780  47.421700  9.356135
4    3000402506  47.427975  9.377123
..          ...        ...       ...
544  3001465599  47.423676  9.379521
545  3001467270  47.417019  9.356454
546  3001468434  47.431427  9.398845
547  3001470695  47.429504  9.372371
548  3001470708  47.425991  9.385356

[549 rows x 3 columns]

In [33]:
a = immo[immo.distance_meters < 1000].id.tolist()

In [34]:
a

[3000922116,
 3001118234,
 3001235438,
 3001246535,
 3001286515,
 3001350678,
 3001352407,
 3001370273,
 3001405132,
 3001416434,
 3001416435,
 3001416436,
 3001421370,
 3001467360,
 3001465235,
 3001441668,
 3001441671,
 3001441669,
 3001442121,
 3001470583,
 3001470695]

In [38]:
res_id = set(a) & set(b)

In [39]:
immo[immo.id.isin(res_id)]

,Unnamed: 0,id,rent,street_number,lat,lng,duration,duration_seconds,distance_meters
16,16,3000922116,1454,Dianastrasse 10,47.432796,9.382410,0:02:00.300000,120.3,746.8
55,62,3001118234,1140,Langgasse 11,47.434608,9.384761,0:02:28.600000,148.6,965.1
113,124,3001246535,1820,Langgasse 11,47.434608,9.384761,0:02:28.600000,148.6,965.1
235,255,3001350678,1695,Langgasse 9,47.434498,9.384642,0:02:29.700000,149.7,978.8
237,257,3001352407,1515,Langgasse 13,47.434669,9.384833,0:02:27.800000,147.8,956.5
346,390,3001421370,1340,Iddastrasse,47.435410,9.385141,0:02:29.900000,149.9,959.6
352,396,3001467360,2630,Goethestrasse 44,47.436981,9.383111,0:02:14,134.0,947.6
371,420,3001465235,2630,Goethestrasse 44,47.436981,9.383111,0:02:14,134.0,947.6
415,465,3001441668,1285,Langgasse 11,47.434608,9.384761,0:02:28.600000,148.6,965.1
416,466,3001441671,1990,Langgasse 11,47.434608,9.384761,0:02:28.600000,148.6,965.1
417,467,3001441669,1815,Langgasse 9,47.434498,9.384642,0:02:29.700000,149.7,978.8
456,509,3001442121,1550,Langgasse 5,47.434208,9.384363,0:02:29.700000,149.7,986.3
469,522,3001470583,2150,Dufourstrasse 4,47.435242,9.383987,0:02:05.500000,125.5,837.0

In [45]:
r = requests.get('https://daten.stadt.sg.ch/api/records/1.0/search/?dataset=freiraume-stadt-stgallen&q=&facet=art&facet=bedeutung&facet=typ&geofilter.distance=47.4242%2C9.37186%2C1000 ')

In [51]:
res = json_normalize(json.loads(r.content)['records'])

In [58]:
res['fields.geo_shape.coordinates'].iloc[0][0]

[[9.371827705159442, 47.424306905048],
 [9.371783905428208, 47.424290731763136],
 [9.371773987981005, 47.42428704701137],
 [9.371768182495378, 47.4242848859164],
 [9.371763134575914, 47.42428387274068],
 [9.371757940498757, 47.42428431049989],
 [9.371752614212301, 47.42428548821067],
 [9.37174171088949, 47.424287874816365],
 [9.371733926047186, 47.42428888672359],
 [9.371727210587645, 47.424287586550086],
 [9.371720905564665, 47.42428554177051],
 [9.371575850075754, 47.42423156685963],
 [9.371408070762074, 47.424169145917894],
 [9.37140397426966, 47.42416658735317],
 [9.371401395382192, 47.42416347259445],
 [9.371393119438418, 47.42414730874054],
 [9.371390062992578, 47.424143455231125],
 [9.371386070534898, 47.424140840944894],
 [9.371372902759568, 47.424134898331886],
 [9.37135385208625, 47.424127947491385],
 [9.371345503371783, 47.42412547803152],
 [9.371325308575546, 47.424120606595174],
 [9.37130991833232, 47.42411844382525],
 [9.371293851123621, 47.42411808274426],
 [9.371278937384329, 47.4241199155923],
 [9.3712671767631, 47.42412315319578],
 [9.3712595834375, 47.424129074139444],
 [9.371256131641108, 47.42413441300469],
 [9.371254928124264, 47.42414106379695],
 [9.371256808135733, 47.42414793292859],
 [9.371266054630205, 47.42416198429909],
 [9.37127596137057, 47.42417705926322],
 [9.371280034844458, 47.424181174669435],
 [9.371286152015433, 47.42418388837975],
 [9.371293054704278, 47.4241855993018],
 [9.371308318248337, 47.42418938362295],
 [9.371329539519282, 47.42419550644975],
 [9.371333623172303, 47.424199171842204],
 [9.37134075256139, 47.4242100467431],
 [9.371367951788415, 47.42425374832654],
 [9.371394818273044, 47.42430106319853],
 [9.371424860920207, 47.4243602727393],
 [9.37144937535924, 47.4244154631764],
 [9.371467484228011, 47.424461458014264],
 [9.37150525590817, 47.424557576428676],
 [9.371567617559036, 47.424614361457316],
 [9.371770770880191, 47.42436498731606],
 [9.371827705159442, 47.424306905048]]

In [6]:
from shapley.geometry import Polygon
import geopandas as gpd

ModuleNotFoundError: No module named 'shapley'

In [4]:
!pip install shapley

Requirement already satisfied: shapley in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from shapley) (1.19.5)
Requirement already satisfied: numba in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from shapley) (0.54.1)
Requirement already satisfied: six in /Users/lukasreber/Library/Python/3.8/lib/python/site-packages (from shapley) (1.15.0)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from shapley) (1.4.1)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from numba->shapley) (41.2.0)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from numba->shapley) (0.37.0)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.